html {
  background-image: url("./assets/images/wrinkeld-paper.jpg");
  background-size: cover;
}

body {
min-height: 100%;
}

body {
margin: 0;
padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

header h1 {
  font-size: 60px;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

nav ul a{
  text-decoration: none;
}

nav li{
  display: inline-block;
  color: black;
  border-bottom: 3px solid black;
  padding: 0px 7px 0px;
  margin-right: 50px;
}

nav li:hover {
  border-radius: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}

nav a:link {
  color: black;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: black;
}

nav a:visited:hover {
  color: white;
}

.title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.launchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  font-family: 'Courier New', Courier, monospace;
}

.launchTitle {
  font-size: 60px;
  margin-bottom: 70px;
}

.instructions {
  font-size: 30px;
  margin: 0px 250px 0px 250px;
  padding-bottom: 30px;
}

.sideBySide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loginCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 20%;
  color: black;
  padding: 0px 30px 0px 30px;
  font-family: 'Courier New', Courier, monospace;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.login h2 {
  font-size: 38px;
}

.loginLabel {
  font-size: 22px;
  margin-bottom: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.loginInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
}

.signupButton {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 150px 5px 150px;
  color: white;
  background-color: blue;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}

.loginButton {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  text-align: center;
  background-image: url(./assets/images/button2.jpg);
  background-position: 10% 100%;
}

.loginButton:hover {
  cursor: pointer;
  opacity: .9;
}

.logInstead {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
}

.logInstead:hover {
  font-size: 20px;
}

.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: 50px;
}

.inspiration h2 {
  font-size: 30px;
}

.quote {
  font-size: 30px;
  margin: 0px 250px 0px 250px;
  padding-bottom: 30px;
}

.scheduleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.scheduleContainer {
  margin: 10px;
}

.date {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  background-color: white;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.nameLabel {
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
}

.userLabel {
  font-size: 20px;
  font-weight: bold;
}

.emailLabel {
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
}

.nameInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
}

.emailInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
  margin-left: 35px;
}

.passwordInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
}

.messageLabel {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 70px;
}

.messageInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 70px 50px 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apptBtns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10px;
}

.edit {
  top: 15px;
  left: 450px;
  color: blue;
  text-decoration: none;
  margin-right: 10px;
  opacity: .5;
}

.delete {
  color: red;
  text-decoration: none;
  margin-left: 10px;
  opacity: .5;
}

.edit:hover, .delete:hover {
  opacity: 1;
  cursor: pointer;
}

.split {
  border-left: 2px solid black;
}

.noAppointments {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.appointmentCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 250px;
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 0px 15px 15px 0px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.row h3 {
  padding-right: 10px;
}

.row p {
  position: relative;
  top: 5px;
}

.loading {
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.appointMe {
  display: flex;
}

.me {
  position: relative;
  left: 5px;
}

.symbol {
  position: relative;
  right: 6px;
}


@media screen and (max-width: 799px) {

  html {
    background-image: url("./assets/images/wrinkeld-paper.jpg");
    height: 100%;
    width: 100%;
  }

	nav ul {
		display: flex;
		flex-direction: column;
	}

  nav li {
    text-align: center;
	}

  .quote {
    font-size: 20px;
    margin: 0px 30px 0px 40px;
  }

  .emailInput {
    padding: 6px 35px 6px 10px;
  }

  .passwordInput {
    padding: 6px 35px 6px 10px;
  }

  .nameInput {
    padding: 6px 80px 6px 10px;
  }

  .date {
    padding: 5px 7px 5px 7px;
  }

  .messageInput {
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px 55px 50px 10px;
  }

  .appointmentCard {
    width: 380px;
  }

}
/* custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.551);
	border-radius: 4px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.488);
	background-color: rgba(19, 19, 19, 0.793);}
